{% extends "layout.html" %}
{% block body %}

    <head>
        <title>Administacion de Productos: formularios</title>
    </head>
    
    <body>
         <form id="miFormulario" name="miFormulario" method="post" action="formulario.php">
             Nombre: <input type="text" id="txtNombre" name="txtNombre" /><br/>
             Precio: <input type="text" id="txtPrecio" name="txtPrecio" /><br/>
             <input type="submit" id="btnEnviar" name="btnEnviar" value="Ingresar Productos" />
         </form>

    </body>
</html>

{% endblock %}