{% extends "layout.html" %}
{% block title %}Listado de bebidas{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
  
    <h3>Carrito de la compra</h3>  
    <br/>
    <br/><br/>
    {% if total>0 %}
    <div class="list-group">
      <table class="table table-bordered">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
      {% for producto in productos %}
        <tr>
          <td>{{producto.0.nombre}}</td>
          <td>{{producto.1}}</td>
          <td>{{producto.0.precio_final()}}</td>
          <td>{{producto.0.precio_final()*prod.1}}</td>
          <td><a href="{{url_for('carrito_delete',id=prod.0.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
        </tr>
      {% endfor %}
      </table>
      <h2>Total:{{total}}</h2>
      <a class="btn btn-primary" href="{{url_for('pedido')}}" role="button">Comprar</a>
    </div>
    {% else %}
      <h2>No hay artículos en el carrito</h2>
    {% endif %}  
  </div>
</div>
 	
  
{% endblock %}