

h3 {
  color: orange;
}

#titulos {
  color: #17a2b8;
  text-align: center;
  vertical-align: middle;
}

#cardTitle {
  font-size: xx-large;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#search-address {
  width: 800px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#mapid {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

#goproducts {
  width: 800px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  padding-top: 1rem;
  padding-block-end: 0rem;
}

#preciofinal {
  color: #ffc107;
  text-align: center;
  background-color: lightslategray;
}

.invisible{display:none;}