body {
  /*background-image: url(/src/static/image/bebidasFondo.jpg);*/
  background: rgb(78, 45, 226);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(157, 224, 0), rgb(226, 57, 45));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(138, 224, 0), rgb(226, 45, 172)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }